body {
  margin: 0;
  padding: 0;
  background: whitesmoke;
}

* {
  box-sizing: border-box;
}

.item-description {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
